.kontakt-wrapper {
  padding: 20px;
}

.form-wrapper {
  width: 60%;
  margin-inline: auto;
  min-height: 80vh;
  background-color: #d9d9d928;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 2.5rem;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    input,
    textarea {
      background-color: #17171790;
      padding: 1rem;
      border: 1px solid #777;
      border-radius: 0.4rem;
    }

    textarea {
      min-height: 10rem;
    }

    button {
      cursor: pointer;
      padding: 0.7rem 1rem;
      width: 5rem;
      border-radius: 0.4rem;
      background-color: #17171790;
      border: 1px solid #777;
      font-weight: bold;

      &:hover {
        background-color: #333;
        color: rgb(64, 152, 224);
      }
    }
  }
}
