@import "tailwindcss";

body {
  background: radial-gradient(
      circle at top,
      rgba(175, 175, 175, 0.2) 0%,
      rgba(53, 52, 68, 0) 100%
    ),
    #171717;
  min-height: 100vh;
  color: #ffffff;
  font-family: "Fustat", sans-serif;
  margin: 0;
  padding: 0;
  margin-inline: auto;
}
